@import "reset.css";

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tab-hightlight-color: rgba(255, 255, 255, 0);
}

.asset-img{
    display: none;
}

main {
    position: relative;
    overflow: hidden;
}

.ready-screen, .ready2-screen, .finish-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  user-select: none;
}

.title-text, .word-text {
  font-family: 'Cute Font';
  font-weight: bold;
  font-size:15vmin;
  color:#fff;

  transform: scale(2);
}
.help-text {
  position: absolute;
  bottom: 0;
  font-family: 'Cute Font';
  text-align: center;
  font-size:5vmin;
  color:#fff;

  transform: scale(2);
}
.font-icon {
  font-size:9vmin;
}
.menu-gui {
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  color:#fff;
  z-index: 11;
  
  transform: scale(1);
}
.play-img, .replay-img {
  width: 11vmin;
  cursor: pointer;
  
  transform: scale(0);
}


.finish-screen, .ready2-screen {
  color: #fff;
  font-family: 'Jua';
  opacity: 0;
  pointer-events: none;
}

.finish-screen > .distance {
  font-size: 15vmin;
}

.finish-screen > .coin {
  font-size: 8vmin;
  margin-bottom: 8vmin;
  color: gold;
}
